name: CI

on:
  workflow_dispatch:
  push:
    branches:
    - action
    tags:
    - '*'

jobs:
  build_and_release:
    name: alerta-cli
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:

      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup toolchain
        run: |
          rustup install nightly
          rustup default nightly
          for arch in x86_64 i686 aarch64
            do rustup target add $arch-unknown-linux-musl
          done
          rustup component add rust-src
          cargo install cross

      - name: Install deps
        run: |
          sudo sh -c 'apt update && apt install upx gcc git make -y'
          echo "= build super-strip"
          git clone https://github.com/aunali1/super-strip.git
          (cd super-strip && make && sudo cp -fv sstrip /usr/bin/)
          rm -rf super-strip

      - name: Build
        run: |
          for arch in x86_64 i686 aarch64
            do
                echo "==== Build alerta-$arch ===="
                cargo clean
                [ "$arch" == aarch64 ] && CARGO=cross||CARGO=cargo
                $CARGO build --bin alerta --release --target $arch-unknown-linux-musl
                (cd target/$arch-unknown-linux-musl/release && \
                sstrip alerta && \
                upx -9 --best alerta -o alerta-$arch-upx && \
                mv alerta alerta-$arch && \
                mv alerta-* ../../../)||exit 1
          done

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: alerta-*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
